@CHARSET "utf-8";

body {
	font-family: sans-serif;
}
.headbar{
	margin-top:40px;
	background-color: #6B286A;
	text-align:center;
}

@media only screen and (max-width: 3000px) {
	body .content{
		margin-left:20%;
		margin-right:20%;
		line-height:28px;
		font-size:20px;
	}
	
	body .introduction{
		font-size:20px;
		text-align:justify;
		margin-top:60px;
	}
	
	body .title {
		font-size:35px;
		font-weight:bold;
		text-align: center;
		margin-bottom: 30px;
		margin-top:4%;
	}
	.footer {
		margin-top:10%;
		color:black;
		height:100px;
		text-align:center;
		line-height:150%;
		font-size:5px;
	}
	.footer .ads{
		width:60%;
		text-align:center;
		margin-left: auto;
	    margin-right: auto;
	    vertical-align:middle;
	    margin-top:1%;
	}
	.navbar-default{
		width:60%;
	    margin-left: auto;
    	margin-right: auto;
    	border-color: #6b286a !important;
	}
}
@media only screen and (max-width: 1500px) {
	body .content{
		font-family: sans-serif;
		margin-left:20%;
		margin-right:20%;
		line-height:28px;
		font-size:15px;
	}
	
	body .introduction{
		font-size:15px;
	}
	
	body .title {
		font-size:30px;
		text-align: center;
		margin-bottom: 30px;
	}
	
	.footer {
		margin-top:10%;
		color:black;
		height:100px;
		text-align:center;
		line-height:150%;
		font-size:5px;
	}
	.footer .ads{
		width:60%;
		text-align:center;
		margin-left: auto;
	    margin-right: auto;
	    vertical-align:middle;
	    margin-top:1%;
	}
	.navbar-default{
		width:60%;
		border-color: #6b286a !important;
	}
}
@media only screen and (max-width: 1000px) {
	body .content{
		font-family: sans-serif;
		margin-left:20%;
		margin-right:20%;
		line-height:28px;
		font-size:13px;
	}
	
	body .introduction{
		font-size:10px;
	}
	
	body .title {
		font-size:25px;
		text-align: center;
		margin-bottom: 30px;
	}
	
	.footer {
		margin-top:10%;
		color:black;
		height:100px;
		text-align:center;
		line-height:150%;
		font-size:2px;
	}
	.footer .ads{
		width:60%;
		text-align:center;
		margin-left: auto;
	    margin-right: auto;
	    vertical-align:middle;
	    margin-top:1%;
	}
	.navbar-default{
		width:60%;
		border-color: #6b286a !important;
		margin-left: auto;
    	margin-right: auto;
	}
}

@media only screen and (max-width: 500px) {
	body .content{
		font-family: sans-serif;
		margin-left:10%;
		margin-right:10%;
		line-height:28px;
		font-size:10px;
	}
	
	body .introduction{
		font-size:5px;
	}
	
	body .title {
		font-size:20px;
		text-align: center;
		margin-bottom: 30px;
	}
	
	.footer {
		margin-top:10%;
		color:black;
		height:100px;
		text-align:center;
		line-height:150%;
		font-size:1px;
	}
	.footer .navis{
		width:80%;
		text-align:center;
		margin-left: auto;
	    margin-right: auto;
	    vertical-align:middle;
	    margin-top:1%;
	}
	.navbar-default{
		width:80%;
		border-color: #6b286a !important;
		margin-left: auto;
    	margin-right: auto;
	}	
}



.center {
	text-align:center !important;
}
