.subcontent{
	width:80%;
	margin-left:auto !important;
	margin-right:auto !important;
	margin-top: 20px;
	text-align:justify;
}

.col-left{
	width:20%;
	text-align:center;
}

.col-right{
	width:80%;
	text-align:justify;
}
@media only screen and (max-width: 3000px) {
	.subtitle{
		font-size:25px;
		margin-top:10px;
		margin-bottom:10px;
	}
}

@media only screen and (max-width: 1500px) {
	.subtitle{
		font-size:20px;
		margin-top:10px;
		margin-bottom:10px;
	}
}

@media only screen and (max-width: 1000px) {
	.subtitle{
		font-size:15px;
		margin-top:10px;
		margin-bottom:10px;
	}
}

@media only screen and (max-width: 500px) {
	.subtitle{
		font-size:10px;
		margin-top:10px;
		margin-bottom:10px;
	}
}